@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&family=Noto+Serif+KR&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #444;
}

.container {
  margin: auto;
  max-width: 600px;
  width: 95%;
  color: #fff;
  font-size: 20px;
  font-family: "Golos Text", sans-serif;
}

.todoBlock {
  padding: 13px;
  margin: 50px 0;
  background: #333;
  border-radius: 15px 0 15px 0;
  box-shadow: -1px 1px 12px rgb(255 255 255 /100%);
  box-sizing: border-box;
}

.list {
  background: #666;
  margin: 8px 0;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px 0 8px 0;
  font-size: 18px;
}
.list .completed {
  text-decoration: line-through;
  color: #aaa;
}
.list input {
  margin: 0 15px;
  width: 20px;
  height: 20px;
}
.list span {
  vertical-align: 3px;
  font-family: "Noto Serif KR", serif;
}

.dragging .list {
  background: rgba(30, 30, 30, 0.4);
  color: rgba(200, 200, 200, 0.4);
}
form {
  max-width: 100%;
  margin: 0 auto;
}
.btn {
  float: right;
  width: 28px;
  height: 28px;
  background: #444;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.write {
  width: 80%;
  height: 40px;
  border-radius: 7px 0 0 0;
  border: none;
  padding: 0 10px;
  font-size: 20px;
  font-family: "Noto Serif KR", serif;
  outline: none;
}

.submit {
  width: 17%;
  height: 40px;
  background: #888;
  border: none;
  border-radius: 0 0 7px 0;
  font-family: "Noto Serif KR", serif;
  font-size: 18px;
  color: #fff;
}

.deleteBtn {
  margin: 15px 0;
  width: 120px;
  height: 30px;
  font-size: 18px;
  background: #555;
  color: #fff;
  border: none;
  font-family: "Golos Text", sans-serif;
  border-radius: 5px 0 5px 0;
  cursor: pointer;
}
